table tr td {
	font-family: tahoma;
	font-size: 8px;
	/*clear: right;*/
	vertical-align: top;
}
p.dados {
	font-family: tahoma;
	font-size: 12px;
	/*position: relative;*/
	/*float: left;*/
	padding-top: 1px;
	margin: 0 0;
	text-align: right;
}
p.sacado {
	font-family: tahoma;
	font-size: 12px;
	padding-top: 1px;
	margin: 0 0;
	text-align: left;
	margin-left: 50px;
}
.num_banco {
	font-family: tahoma;
	font-size: 16px;
	font-weight: bolder;
}
.linhaD {
	font-family: tahoma;
	font-size: 14px;
	font-weight: bolder;
}
table.cabecalho tr td {
	vertical-align: bottom;
	margin: 0 0;
}